
body {
  background: url('https://images.unsplash.com/photo-1617046774731-b2c14cc8c377?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

.container {
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
  text-align: center;
  position: fixed;
  top: 30px;
  right: 30px;
}

h1 {
  margin-bottom: 24px;
  color: #2c3e50;
  font-size: 30px;
}

input[type="text"] {
  padding: 10px 14px;
  width: calc(100% - 120px);
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 10px;
  }

input[type="text"]:focus {
  outline: none;
  border-color: #E55050;
}

button {
  padding: 10px 16px;
  background-color: #F79B72;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

button:hover {
  background-color: #D5451B;
  transform: scale(1.02);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  padding: 12px 16px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background-color: #f9fbfd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
  transition: background-color 0.2s ease;
}

.task:hover {
  background-color: #eef4f8;
}

.task p {
  margin: 0;
  font-size: 16px;
  color: #333;
  flex-grow: 1;
  text-align: left;
}

.icons {
  display: flex;
  gap: 14px;
}

.icons svg {
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.icons svg:hover {
  color: #D5451B;
  transform: scale(1.1);
}
